<div class="logo">
    <a routerLink="/" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo.png" />
        </div>
        It's a Racket!
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li>
            <a class="nav-link" (click)="logout()">
                <i class="material-icons">highlight_off</i>
                <p>Logout</p>
            </a>
        </li>
    </ul>
</div>