<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">New Racket</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Serial Number" type="text">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Add Racket</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Racket Inventory</h4>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-success">
                <th>#</th>
                <th>Name</th>
                <th>Serial Number</th>
                <th>Status</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>DatAwesome1</td>
                  <td>92038509</td>
                  <td>On Loan</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>DatAwesome2</td>
                  <td>90238509</td>
                  <td>On Loan</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>DatAwesome3</td>
                  <td>90235809</td>
                  <td>On Loan</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>