<div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12 col-centered">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Login</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <span>{{this.error}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" type="email" [(ngModel)]="email">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" type="password" [(ngModel)]="password">
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button type="button" (click)="emailLogin()" class="btn btn-danger pull-right">Login</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>